@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background-color: var(--Cream);
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root{
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%)

}

body{
  display: flex;
  height : 100vh;
  justify-content: center;
  align-items: center;
  
}

.card{
  display: flex;
  background-color: var(--White);
  width : 600px;
  height : 449px;



}
.img{
  width : 555px;
  height : 449px;
}

img{
  width : 100%;
  height : 100%;
  
}


.product-title h2{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size : 12px;
  margin-top : 31px;
  margin-left : 31.5px;
  letter-spacing: 5px;
  color: var(--Grey)
}


.main-title{
  font-family: 'Fraunces';
  margin-top : 18px;
  margin-left : 31px;
  line-height: 32.5px;
}

.description{
  font-family : 'Montserrat';
  font-size : 14.2px;
  margin-left : 31px;
  margin-top : 23px;
  width : 240px;
  line-height: 1.6;
  color : var(--Grey)

}

.price{
  display: flex;
  font-family: 'Fraunces';
  
  margin-top : 10px;
  margin-left : 32px

}

.price .actual-price{
  margin-top : 13px;
  color : var(--Green-500);
  font-weight : 700;
  font-size : 32px;
}

del{
  color : var(--Grey)
}
.price .precedent-price{
  color : var(--Grey);
  font-size : 13px;
  margin-top : 27px;
  margin-left : 19px;
  font-family: 'Montserrat';
}

button{
  display: flex;
  border : none;
  background-color : var(--Green-500);
  color : var(--White);
  margin-top : 21px;
  margin-left : 31px;
  height : 48px;
  width : 236px;
  border-radius : 7px;
}

button img{
  margin-top : 15px;
  margin-left : 57px;
  height : 16px;
  width : 15px;
}


button p{
  font-family: 'Montserrat';
  font-weight : 600;
  font-size : 14.3px;
  margin-left : 11px;
  margin-top: 13px;
  
}

button:hover{
  background-color: var(--Green-700);
  cursor: pointer;
}

.card, .img{
  border-radius : 10px;
}

img{
  border-radius : 10px 0px 0px 10px;
}